<app-nav current="portfolio"></app-nav>
<div class="page-wrapper wide" role="main">
	<h1>Portfolio</h1>
	<section id="portfolio-body">
		@switch (loadingStatus) { @case (lsEnum.LOADING) {
		<p-progress-spinner ariaLabel="loading" />
		} @case (lsEnum.ERROR) {
		<p-message severity="error"
			>Error loading portfolio data. Please try again later</p-message
		>
		} @case (lsEnum.READY) { @for (item of cardInfo; track $index) {
		<app-card [info]="item"></app-card>
		} } @default {} }
	</section>
</div>
