@use "../../../styles.scss" as *;

#about-wrapper {
	position: absolute;
	top: 56px;
	width: 100%;
	padding: 20px 0;
}

#about-content {
	position: relative;
	padding: 32px;
	font-size: 1.2em;
	background-color: $color-primary;
	border-radius: 20px;

	filter: drop-shadow(0 0 0.25rem #333333);

	h1 {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: flex-start;
		font-weight: 500;
		font-size: 1.5em;
		color: $color-contrast;
		opacity: 0.5;
		margin: 0 0 20px 0;
	}
}

/* Tablets */
@media only screen and (min-width: 500px) and (max-width: 1280px) {
	#about-content {
		left: 40px;
		width: calc(100vw - 80px);
	}
}

/* Mobile */
@media only screen and (max-width: 499px) {
	#about-content {
		left: 10px;
		width: calc(100vw - 20px);
		font-size: 1.1em;
	}
}
