<app-nav></app-nav>
<div id="page-wrapper" role="main">
  <section id="intro">
    <p class="text-grey">Hi there, my name is&nbsp;</p>
    <h1 id="name-header">Adrian Binkley</h1>
  </section>
  <section id="experience">
    <p>{{ content.experience[0] }}&nbsp;</p>
    <h2 id="experience-years">{{ yoe }} years&nbsp;</h2>
    <p>{{ content.experience[1] }}</p>
  </section>
  <section id="timeline"></section>
  <section id="nextSteps">
    <p>{{ content.nextSteps[0] }}&nbsp;</p>
    <a href="/portfolio">{{ content.nextSteps[1] }}</a>
  </section>
</div>
