:root {
    --padding: 10px;
}

#bioContainer {
    max-height: 80vh;
    padding: var(--padding);
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.4);
    overflow-x: hidden;
    overflow-y: auto;
}

#bioContainer h1, 
#bioContainer h2, 
#bioContainer p {
    position: relative;
    color: #404040;
    margin: 10px;
    font-family: 'Proxima Nova Rg';
}

#bioContainer h1, 
#bioContainer h2 {
    top: var(--padding);
    left: var(--padding);
}

#bioContainer h1 {
    font-size: 30pt;
    color: #2f2f2f;
}

.separatorLineBio {
    position: relative;
    width: 100%;
    height: 2px;
    margin: 50px 0px 30px 0px;
    border-top: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
}

#bioContainer p {
    text-indent: 30px;
    font-size: 18pt;
    margin-bottom: var(--padding);
}

#bioContainer ol {
    position: relative;
    left: -40px;
}

.infoOptionRow {
    list-style-type: none;
    margin-bottom: 5px;
}

.infoOptionRow svg {
    margin: 5px var(--padding) 0px 10px;
}

.infoOptionRow a {
    position: relative;
    top: -7px;
}

/* Desktop / landscape-mode tablets */
@media only screen and (min-width: 1000px) {
    #bioContainer {
        width: 32vw;
    }
}

/* Phones and portrait-mode tablets */
@media only screen and (max-width: 999px) {
    #bioContainer {
        top: 10px;
        max-width: 100%;
    }
    
    #bioContainer h1 {
        margin-bottom: var(--padding);
    }
}
