#resume-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

img {
  position: relative;
  top: 4px;
}

a {
  position: relative;
  font-size: 1.2em;
  text-decoration: none;
}
