@use "../../../../styles.scss" as *;

#timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

#timeline > h2 {
  font-weight: 600;
  margin: 0 0 40px 0;
}
