$headshot-size: min(256px, 25vw);

#business-card-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	background: white;
	width: calc($headshot-size + 40px);
	filter: drop-shadow(0 0 0.25rem #333333);

	img {
		position: relative;
		margin: 20px;
		width: $headshot-size;
		height: $headshot-size;
		border-radius: 50%;
	}
}

/* Mobile */
@media only screen and (max-width: 499px) {
	#business-card-wrapper {
		display: none;
	}
}
