@use "../../../../styles.scss" as *;

.page-gradient {
	position: absolute;
	width: 100vw;
	height: 200px;
	bottom: 0;
	background: linear-gradient(345deg, $color-primary, #fff0 15%),
		linear-gradient(15deg, $color-primary, #fff0 25%);
}
