@import "primeicons/primeicons.css";

$color-primary: #f7f7f7;
$color-secondary: #f2e7d5;
$color-accent: #6d9886;
$color-contrast: #393e46;
$page-width: 1300px;
$page-text: 1.2em;

* {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
}

#page-wrapper {
	position: absolute;
	width: $page-width;
	left: calc((100% - $page-width) / 2);
}

.text-secondary {
	display: inline-block;
	font-size: 1.2em;
}
