@import "primeicons/primeicons.css";
@import "tailwindcss";

$color-primary: #f7f7f7;
$color-secondary: #f2e7d5;
$color-accent: #6d9886;
$color-contrast: #393e46;
$page-width: min(1300px, 90vw);
$page-text: 1.2em;

* {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
}

:root {
	background: $color-secondary;
}

.page-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 40px;
	left: calc((100vw - $page-width) / 2);
	height: calc(100vh - 56px);
	width: $page-width;
	background: $color-primary;
	overflow-y: auto;
	scrollbar-width: thin;
}

.text-secondary {
	display: inline-block;
	font-size: 1.2em;
}

/* Mobile */
@media only screen and (max-width: 499px) {
	.page-wrapper {
		left: 0;
		width: 100%;
	}
}
