$accent-color: rgb(45, 115, 206);
$page-width: 1600px;
$nav-bg: rgba(100, 100, 100, 0.5);
$nav-height: 60px;
$page-text: 1.8em;

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

#page-wrapper {
  position: absolute;
  width: $page-width;
  height: calc(100% - $nav-height);
  left: calc((100% - $page-width) / 2);
}

.text-secondary {
  display: inline-block;
  font-size: 1.2em;
}
