@use "../../../../styles.scss" as *;

#socials-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-top: 1px solid #3333337f;
  border-bottom: 1px solid #3333337f;
  margin-bottom: 20px;

  img {
    margin: 8px 8px 4px 8px;
  }
}
