name: Commit Healthchecks
permissions:
  contents: read

on:
  push:
    branches-ignore:
      - "main"

jobs:
  style-check:
    runs-on: ubuntu-latest
    steps:
      - name: Check out commit
        uses: actions/checkout@v3
      - name: Install Dependencies
        run: npm ci
      - name: Run Lint Check
        run: npm run lint
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out commit
        uses: actions/checkout@v3
      - name: Install Dependencies
        run: npm ci
      - name: Run Unit Tests
        run: npm test
